@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&display=swap");

:root {
  --font: "IBM Plex Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background: linear-gradient(200deg, #282a3a 30%, #1e1f2b 70%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f7f7f7;
}

header {
  text-align: center;
  padding: 2rem;
}

.description {
  font-size: 1.2rem;
}

form {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.container {
  border: 2px solid #78d9ec;
  padding: 2rem;
  border-radius: 5px;
}

input,
select {
  font-family: var(--font);
  background-color: inherit;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: #f7f7f7;
}

option {
  color: #1e1f2b;
}

input {
  border-right: 2px solid #78d9ec;
}
